In [2]:
import numpy as np
import pandas as pd
import hvplot.pandas
import sqlalchemy

In [3]:
database_connection_string = 'sqlite:///etf.db'
engine = sqlalchemy.create_engine(database_connection_string)

In [4]:
stocks_df = pd.DataFrame({'GS': [9, 10], 'PYPL': [11, 12]})
stocks_df.to_sql('stocks', engine, index=False,if_exists='replace'  )

In [6]:
sql_stocks_df = pd.read_sql_table('stocks',con=engine )
sql_stocks_df

   GS  PYPL
0   9    11
1  10    12